qual-smoke-l1 ran
